@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700');
body {
font-family: source sans pro,Helvetica,Arial,sans-serif!important;
}
h1 {
font-weight:300;
font-family: source sans pro,Helvetica,Arial,sans-serif!important;
}
h2 {
font-weight:300;
font-family: source sans pro,Helvetica,Arial,sans-serif!important;
}
h3 {
font-weight:300;
text-transform: uppercase;
font-family: source sans pro,Helvetica,Arial,sans-serif!important;
}
h4 {
font-weight:300;
font-family: source sans pro,Helvetica,Arial,sans-serif!important;
}
h5 {
font-weight:300;
font-family: source sans pro,Helvetica,Arial,sans-serif!important;
}
.icon-nav-search {
background-image: url(/img/Shared/navigation_02012016_light.svg)!important
}
.icon-nav-home {
background-image: url(/img/Shared/navigation_02012016_light.svg)!important
}
.icon-nav-profile {
background-image: url(/img/Shared/navigation_02012016_light.svg)!important
}
.icon-nav-message {
background-image: url(/img/Shared/navigation_02012016_light.svg)!important
}
.icon-nav-friends {
background-image: url(/img/Shared/navigation_02012016_light.svg)!important
}
.icon-nav-charactercustomizer {
background-image: url(/img/Shared/navigation_02012016_light.svg)!important
}
.icon-nav-inventory {
background-image: url(/img/Shared/navigation_02012016_light.svg)!important
}
.icon-nav-trade {
background-image: url(/img/Shared/navigation_02012016_light.svg)!important
}
.icon-nav-group {
background-image: url(/img/Shared/navigation_02012016_light.svg)!important
}
.icon-nav-forum {
background-image: url(/img/Shared/navigation_02012016_light.svg)!important
}
.icon-nav-blog {
background-image: url(/img/Shared/navigation_02012016_light.svg)!important
}
.icon-more {
background-image: url(/img/Shared/generic_10252016_light.svg)!important
}
.scroller{
background-color: rgba(255, 255, 255, 0.6)!important;
}
.btn-secondary-xs {
    height: auto!important;
    padding: 7px 16px!important;
    font-size: 1em!important;
    transition: all,0.2s,ease-in-out!important;
    line-height: 100%!important;
    border-radius: 3px!important;
}
.icon-nav-robux{
background-position: 0 -56px!important;
}